include pyproject.toml
include README.md
include LICENSE.md
include MANIFEST.in
include CONTRIBUTING.md
include CHANGELOG.md

recursive-include src/sefkhet *.py
include src/sefkhet/py.typed

recursive-include docsrc *
recursive-include tests *.py

recursive-exclude docs *
